h1{
	text-align: center;
	width: 100%
}
.main{
	width: 1140px;
	text-align: center;
	align-content: center;
}
#start-buttom{
	align-self: center;
}
body{
	background-image: url("../images/background2.jpg");
	width: 100%;
}
h1{
	margin-bottom: 100px;
	margin-top: 20px;
	font-size: 50px;
}
#timerId{
	text-align: center;
	font-size: 36px;
	font-weight: bolder;
}
.option{
	width: 500px;
	height: 60px;
	font-size: 30px;
	border: solid;
	border-width: 7px;
	border-color: purple;
	margin-left: : 700px;
	margin-right: 100px;
	margin-top: 30px;
	text-align: center;
}
#options{
padding-left: 300px;	
}