h1{
	text-align: center;
	width: 100%
}
.main{
	width: 1140px;
	text-align: center;
	align-content: center;
}
/*#reStart-button,
*/#start-buttom{
	align-self: center;
}
body{
	background-image: url("../images/background2.jpg");
	width: 100%;
}
h1{
	margin-bottom: 30px;
	margin-top: 20px;
	font-size: 50px;
}
#timerId{
	text-align: center;
	font-size: 36px;
	font-weight: bolder;
}

#questions{
	font-size: 18px;
	text-align: center;
	font-weight: bold;

}
.radioButton{
	width: 250px;
	height: 15px;
	margin: 0 auto;
	display: inline-block;
	text-align: center;
	font-size: 16px;
	
}

.questionLine{
	height: 70px;
	width: 100%;
	text-align: center;
	font-weight: bolder;
	padding: 10;
	font-size: 20px;
	

}
.holder{
	align-content: center;
	text-align: center;
}
#result{
	text-align: center;
}
/*#reStart-button{
	align-content: center;
}*/
#submit{
	width: 200px;
	height: 50px;
	margin-left: 450px;
}









    
